---
import Layout from "../layouts/Layout.astro";
import Boton from "../components/Boton.astro";
import LatestYoutube from "../components/LatestYoutube.astro";
import Profile from "../components/Profile.astro";
import Kofi from "@src/components/Kofi.astro";
---

<Layout>
  <main>
    <Profile />
    <Boton />
    <LatestYoutube />
  </main>
  <Kofi />
</Layout>
