---
import SocialLinks from "./SocialLinks.astro";

import { userData } from "../data/userData.js";
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="profile__banner"></div>
<ThemeIcon />
<div id="img__container" class="img__container photo">
  <img src={userData[0].userPic} alt={userData[0].userName} />
</div>
{
  userData.map((data) => (
    <>
      <h1>{data.userName}</h1>
      <p>{data.userDesc}</p>
    </>
  ))
}
<SocialLinks />

<style>
  .profile__banner {
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background: url("/img/bannerYT.png") center/160% no-repeat;
    /* background-attachment: fixed; */
    min-height: 22dvh;
    height: auto;
    flex-direction: column;
    padding-top: 3rem;
    gap: 0.5rem;
    position: relative;
  }

  .img__container {

    z-index: 50;
    margin-top: -9rem;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(
      243deg,
      rgba(0, 4, 198, 0.9836309523809523) 1%,
      rgba(132, 38, 255, 1) 74%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.dark) h1 {
    background: linear-gradient(
      243deg,
      rgba(71, 242, 246, 0.9836309523809523) 1%,
      rgba(132, 38, 255, 1) 74%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.8rem;
    color: var(--button-hover);
  }



  :global(.dark) .photo {
    border: 3px solid aqua;
  }
</style>
