@import "./reset.css";
:root{
 --main-color: #2b007a;
--secundary-color: #e4e2ea;
--cards:#43fdfd;

--button-flat: #6a00ff;
--button-hover: #770fff;
--button-active: #6a00ff;
--border-color: #9d70ff;

--text-bold-color:#2b007a;
--text-highligth:#770fff;

--font-montserrat:'Montserrat Variable', sans-serif;
/* Darkmode */
--bg-color-dark: #0b0b0b;
}
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    background: radial-gradient(circle, rgba(7,26,55,1) 49%, rgba(38,7,79,1) 98%);
    font-family: var(--font-montserrat);
}


.dark body {

    color: --secundary-color;
  }
